@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2>لوحة الإدارة</h2>
<p>مرحبًا بك! هذه منطقة الإدارة.</p>
<p>
    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Incomes" asp-action="Index">عرض كل الدخل</a>
    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Expenses" asp-action="Index">عرض كل المصاريف</a>
</p>
