@model GovFinance.Models.ExpenseCategory
@{
    ViewData["Title"] = "تعديل مصروف";
}

<h1 class="h4 mb-3">تعديل مصروف ثابت</h1>

<div class="row">
    <div class="col-md-6">
        <partial name="_EditForm" model="Model" />
    </div>
</div>
